*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-content{
   height: 5.3rem;
   width: 100%;
   background-color: #D1D2D4;
   margin-bottom: 1rem;
}
.section{
    display: flex;
}
.container{
    display: flex;
    flex-direction: column;
}
.content-a{
    width: 75rem;
    height: 20.3rem;
    background-color: #EF4036;
}
.content-b{
    width: 75rem;
    height: 20.3rem;
    background-color: #FCB040;
}
.content-c {
    width: 21.9rem;
    height: 40.6rem; 
    background-color: #F5EE31;
}
.footer-content{
    height: 5.3rem;
    width: 100%;
    background-color: #D1D2D4;
    margin-top: 1rem;
}
@media (max-width: 768px) {
.header-content{
    height:4.5rem ;
}    
.content-a, .content-b{
    width: 25rem;
    height: 26.5rem;
}
.content-c{
    height: 53rem;
    width: 23rem;
}
.footer-content{
    height: 4.5rem;
}
}

@media (max-width: 480px) {
    .header-content{
        height:3.6rem ;
        margin-bottom: 1.5rem;
    } 
    .section{
        display: flex;
        flex-direction: column;
    }   
    .content-a, .content-b{
        width: 100%;
        height: 12.5rem;
    }
    .content-c{
        height: 12.5rem;
        width: 100%;
    }
    .footer-content{
        height: 3.6rem;
        margin-top: 1.5rem;
    } 
}
  